<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="'Damage 1: ' + ${damage1}"></p>
<p th:text="'Price: ' + ${price1} + ' Kr'"></p><hr>
<p th:text="'Damage 2: ' + ${damage2}"></p>
<p th:text="'Price: ' + ${price2} + ' Kr'"></p><hr>
<p th:text="'Damage 3: ' + ${damage3}"></p>
<p th:text="'Price: ' + ${price3} + ' Kr'"></p><hr>
<p th:text="'Damage 4: ' + ${damage4}"></p>
<p th:text="'Price: ' + ${price4} + ' Kr'"></p><hr>
<p th:text="'Total: ' + ${total} + ' Kr'"></p><hr><hr>



</body>
</html>