<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="modal-content" action="/create" method="post">
    <div class="container">
        <h1>Damage And Price</h1>
        <hr>

        <label for="damage1"><b>Damage 1 </b></label>
        <input type="text" placeholder="Enter Damage" damage="damage1" >
        <label for="price 1 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " price="price" ><hr>

        <hr>

        <label for="damage 2"><b>Damage 2 </b></label>
        <input type="text" placeholder="Enter Damage" damage="damage2" >
        <label for="price 2 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " price="price" >
        <hr>

        <label for="damage 3"><b>Damage 3</b></label>
        <input type="text" placeholder="Enter Damage" damage="damage 3" >
        <label for="price 3 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " price="price" >
        <hr>

        <label for="damage 4"><b>Damage 4</b></label>
        <input type="text" placeholder="Enter Damage" damage="damage 4">
        <label for="price 4 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " price="price" >
        <hr>


        <div class="clearfix">
            <button type="button" onclick="location.href='http://localhost:8080/homepage';" class="cancelbtn">Cancel</button>
            <button type="submit" class="subment"  >Total Price</button>
        </div>
    </div>

</form>
</body>
</html>