<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="modal-content" action="/calculate" method="post">
    <div class="container">

        <h1>Damage And Price</h1>
        <hr>

        <label for="damage1"><b>Damage 1 </b></label>
        <input type="text" placeholder="Enter Damage" name="damage1" >
        <label for="price 1 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " name="price1" >
        <hr>

        <label for="damage 2"><b>Damage 2 </b></label>
        <input type="text" placeholder="Enter Damage" name="damage2" >
        <label for="price 2 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " name="price2" >
        <hr>

        <label for="damage 3"><b>Damage 3</b></label>
        <input type="text" placeholder="Enter Damage" name="damage3" >
        <label for="price 3 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " name="price3" >
        <hr>

        <label for="damage 4"><b>Damage 4</b></label>
        <input type="text" placeholder="Enter Damage" name="damage4">
        <label for="price 4 "><b>Price </b></label>
        <input type="text" placeholder="Enter Price For Damage " name="price4" >
        <hr>

        <div>
            <button type="button" onclick="location.href='http://localhost:8080/homepage';" class="cancelbutton">Cancel</button>
            <button type="submit" class="submit"  >Total Price</button>
        </div>
    </div>

</form>


</body>
</html>