<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="homepage">Homepage</a>

<table>


    <h3>Get All</h3>

    <tr th:each="subInfo: ${carList}">
        <td th:text="'id: '+ ${subInfo.id}"></td>
        <td th:text="'Name: '+ ${subInfo.name}"></td>
        <td th:text="'Last name'+ ${subInfo.lastName}"></td>
        <td th:text="'Address: '+ ${subInfo.address}"></td>
        <td th:text="'Phone number: '+ ${subInfo.phoneNumber}"></td>
        <td th:text="'Email: '+ ${subInfo.email}"></td>
        <td th:text="'Car: '+ ${subInfo.car}"></td>
        <td th:text="'Sub price: '+ ${subInfo.subPrice}"></td>
    </tr>


</table>

</body>
</html>