<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="homepage">Homepage</a>

<table>


    <h3>Get All</h3>

    <tr th:each="subInfo: ${carList}">
        <td th:text="'Car id: '+ ${subInfo.carId}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Car name: '+ ${subInfo.carName}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Id: '+ ${subInfo.id}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Name: '+ ${subInfo.name}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Last name: '+ ${subInfo.lastName}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Address: '+ ${subInfo.address}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Phone number: '+ ${subInfo.phoneNumber}"></td>
        <th></th><th></th><th></th><th></th><th></th>
        <td th:text="'Email: '+ ${subInfo.email}"></td>
    </tr>


</table>

</body>
</html>

