<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form class="modal-content" action="/create" method="post">
    <div class="container">
        <h1>New SUB</h1>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required><hr>

        <label for="lastName"><b>last Name</b></label>
        <input type="text" placeholder="Enter Last name" name="lastName" required><hr>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required><hr>

        <label for="phoneNumber"><b>Phone number</b></label>
        <input type="text" placeholder="Enter Phone number" name="phoneNumber" required><hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required><hr>

        <label for="car"><b>Car</b></label>
        <input type="text" placeholder="Enter Car" name="car" required><hr>

        <label for="subPrice"><b>sub price</b></label>
        <input type="text" placeholder="Enter Sub price" name="subPrice" required><hr>


        <div class="clearfix">
            <button type="button" onclick="location.href = 'http://localhost:8080/homepage';" class="cancelbtn">Cancel</button>
            <button type="submit" class="signup"  >Sign Up</button>
        </div>
    </div>

</form>


</body>
</html>