<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form class="modal-content" action="/create" method="post">
    <div class="container">
        <h1>New SUB</h1>
        <hr>

        <label id="name" for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required><hr>

        <label id="lastName" for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last name" name="lastName" required><hr>

        <label id="address" for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required><hr>

        <label id="phoneNumber" for="phoneNumber"><b>Phone number</b></label>
        <input type="text" placeholder="Enter Phone number" name="phoneNumber" required><hr>

        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter Email" name="email" required><hr>

        <label for="car"><b>Car</b></label>
        <select id="car" name="car">
            <option >Opel Crossland GS Line 110 HK ML,        3.199 kr./md</option>
            <option >Opel Corsa Edition+ 100 HK ML,           2.999 kr./md</option>
            <option >Citroën C5 Aircross Prestige 225 HK ML,  5.499 kr./md</option>
            <option >Citroën C3 Aircross Feel 110 HK ML,      3.199 kr./md</option>
            <option >Peugeot 208 Active 75HK ML,              3.499 kr./md</option>
            <option >Peugeot 2008 Active Pack 130 HK. ML,     3.899 kr./md</option>
            <option >Peugeot 2008 Allure Pack 130 HK ML,      4.299 kr./md</option>
            <option >Peugeot 2008 Allure Pack 130 HK AUT. ML, 4.499 kr./md</option>
            <option >DS 4 Performance LinePack 130 HK. ML,    5.499 kr./md</option>
            <option >Peugeot 3008 GT 130HK AUT. ML,           5.999 kr./md</option>
        </select><hr>


        <div class="clearfix">
            <button type="button" onclick="location.href = 'http://localhost:8080/homepage';" class="cancelButton">Cancel</button>
            <button type="submit" class="signup"  >Sign Up</button>
            <input type="text">
        </div>
    </div>

</form>
</body>
</html>